@model Business.Models.Page.DynamicPage

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h1 class="mb-4">Delete Page</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>DynamicPage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Title)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Title)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Slug)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Slug)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Content)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Content)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.MetaDescription)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.MetaDescription)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.MetaKeywords)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.MetaKeywords)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Status.Name)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Status.Name)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.IsPublished)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.IsPublished)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.CreatedAt)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.CreatedAt)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.UpdatedAt)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.UpdatedAt)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.PageCategory.Name)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.PageCategory.Name)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
    </form>
</div>
